body{
    background-color:#c8ff00;
}
button{
    color:  fuchsia;
    font-weight: bold;
}
input{
    color: red;
    background-color: lightblue;
}
option{
    color:darkblue ;
    font-size: large;
    font-weight: bold;
    background-color: bisque;
}
select{
    background-color: blueviolet;
}
