body{
    background-color:#fff;
    
}
button{
    color:  fuchsia;
    font-weight: bold;
}
input{
    color: red;
    background-color: lightblue;
}
option{
    color:darkblue ;
    font-size: large;
    font-weight: bold;
    background-color: bisque;
}
select{
    background-color: blueviolet;
}


.content{
    color:#000;
    font-family:sans-serif;
    font-weight: bold;

}



.outer-box{
    height: 500px;
    width: 100%;
    background: #c8ff00;
    /* margin-top: 50px;
    margin-left: 50px;
    padding-left: 20px;
    padding-top: 30px; */
    padding: 10px;
    border: 1px solid;
    border-color: crimson;
    
}

.box1{
    width: 40%;
    height: 30%;
    background:red ;
    float: left;
    margin: 10px;

}
.box2{
    width: 40%;
    height: 30%;
    background:blue ;
    float: left;
    margin: 10px;
}
.box3{
    width: 40%;
    height: 30%;
    background:green;
    float: left;
    margin: 10px;
}
.box4{
    width: 40%;
    height: 30%;
    background:orange ;
    float: left;
    margin: 10px;

}